/* Contact.css */

#get-started {
  background-color: #f9f9f9;
  padding: 25px 0;
}

.innerWidth {
  width: 90%;
  margin: 0 auto;
}
.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.line{
  line-height: 1rem;
}
.g-container {
  display: flex;
  justify-content: center;
}

.flexColCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.primaryText {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.contact-form {
  margin-top: 30px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px;
}

.contact-form h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  width: calc(100% - 10px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.success-message {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  margin-top: 20px;
  text-align: center;
}



  ////
  /* Contact.css */
/* .contact-form {
  width: 300px;
  height: 450px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: grey;
}

.contact-form h2 {
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  width: calc(100% - 16px);
  padding: 8px;
  margin-right: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.success-message {
  width: calc(100% - 42px);
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  margin-top: 10px;
  border-radius: 5px;
  animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
} */